@charset "UTF-8";

:root {

    --cor01: #FBFBFB;
    --cor02: #E2EFDE;
    --cor03: #777A73;
    --cor04: #F37F27;
    --cor05: #b8611f;
    --cor06: #4A27F2;
    --cor07: #050404;

}

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor04);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: relative;
    top: 50%;
    left: 50%;
    overflow: hidden; /*faz tudo o que estiver fora fica invisivel*/

    width: 250px;
    height: 500px;
    border-radius: 20px;
    background-color: var(--cor01);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.581);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);

}

section#login > div#image {
    display: block;
    height: 200px;
    background: var(--cor04) url(../image/building.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--cor06);
    border: 2px solid var(--cor06);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: var(--cor01);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #ffa057;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-36%);

}

div.campo > input:focus-within {
    background-color: var(--cor01);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor04);
    color: var(--cor01);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--cor05);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: var(--cor03);
    color: var(--cor01);
    border: 1px solid var(--cor04);
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #ffa057;
}

form > a.botao > i {
    font-size: 0.8em;
}